<div class = "footer__svg">
  <img width="100%" height="100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ 'footer__svg.png' | asset_url }}" alt="">
  {% comment %}
  <svg viewBox="0 -20 700 100" width="100%" height="100" preserveAspectRatio="none">
    <path id = "footer__svg--little-wave" transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700"/>
    <path id = "footer__svg--big-wave" d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" />
  </svg>
  {% endcomment %}
</div>